body {
    background: #1ebba3;
    background: linear-gradient(to right, #1ebba3, #2d2e2e);
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color: #1ebba3 !important;
}