body{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100wh;
}

.title{
    color: lightblue;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}